<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>膳食补充剂</string>
		<key>id</key>
		<string>1</string>
		<key>image</key>
		<string>categoryShanshi</string>
		<key>selectedImage</key>
		<string>categoryShanshiSelected</string>
	</dict>
	<dict>
		<key>title</key>
		<string>保健维生素</string>
		<key>id</key>
		<string>2</string>
		<key>image</key>
		<string>categoryBaojian</string>
		<key>selectedImage</key>
		<string>categoryBaojianSelected</string>
	</dict>
	<dict>
		<key>title</key>
		<string>营养蜂产品</string>
		<key>id</key>
		<string>3</string>
		<key>image</key>
		<string>categoryYinyang</string>
		<key>selectedImage</key>
		<string>categoryYinyangSelected</string>
	</dict>
	<dict>
		<key>title</key>
		<string>养生滋补酒</string>
		<key>id</key>
		<string>4</string>
		<key>image</key>
		<string>categoryYangshen</string>
		<key>selectedImage</key>
		<string>categoryYangshenSelected</string>
	</dict>
	<dict>
		<key>title</key>
		<string>居家生活</string>
		<key>id</key>
		<string>5</string>
		<key>image</key>
		<string>categoryShenghuo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>健康旅游</string>
		<key>id</key>
		<string>6</string>
		<key>image</key>
		<string>categoryshu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>读者之家</string>
		<key>id</key>
		<string>7</string>
		<key>image</key>
		<string>categoryDuZhe</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更多</string>
		<key>id</key>
		<string>11</string>
		<key>image</key>
		<string>categoryGengduo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上一页</string>
		<key>id</key>
		<string>12</string>
		<key>image</key>
		<string>categoryShangye</string>
	</dict>
</array>
</plist>
